$background-color: FFF;
$background-gradient: linear-gradient(164deg, rgba(255, 255, 255, 0.6419817927170868) 0%, rgba(34, 115, 91, 0.2498249299719888) 100%);
$primary-color: #393939;
$border-color: rgba(34, 115, 91, 0.24);
$light-effect: rgb(34, 115, 91);
$border-radius-small: 8px;
$border-radius-medium: 16px;
$border-radius-large: 20px;
