@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  --ng-progress-color: #22735b;
  --ng-progress-thickness: 4
}

body {
  background: $background-gradient;
}
