<section class="sidebar">
  <div class="logo-container">
    <i class="fa-regular fa-star-half-stroke"></i>
    <div>Maids</div>
  </div>
  <div class="items-container">
    <ul class="items-list">
      <li routerLink=""><i class="fa-solid fa-house"></i></li>
      <li routerLink="users"><i class="fa-solid fa-users"></i></li>
      <li routerLink="charts"><i class="fa-solid fa-chart-simple"></i></li>
      <li routerLink="settings"><i class="fa-solid fa-gear"></i></li>
    </ul>
  </div>
  <div class="notifications-profile-container">
    <div routerLink="notifications" class="notifications-container">
      <i class="fa-regular fa-bell"></i>
    </div>
    <div routerLink="profile" class="profile-container">
      <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109"/>
    </div>
  </div>
</section>
