<section class="home-container">
  <div class="cards-container">
    <div class="card">
      <div class="icons-container">
        <i class="fa-solid fa-money-bill"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
      <div class="content-container">
        <p>Total Income</p>
        <h2>384.261$ <span class="increase">+12.5%</span></h2>
        <p>Compared To Last Month</p>
      </div>
    </div>
    <div class="card">
      <div class="icons-container">
        <i class="fa-solid fa-wallet"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
      <div class="content-container">
        <p>Total Income</p>
        <h2>384.261$ <span class="increase">+12.5%</span></h2>
        <p>Compared To Last Month</p>
      </div>
    </div>
    <div class="card">
      <div class="icons-container">
        <i class="fa-solid fa-money-bills"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
      <div class="content-container">
        <p>Total Income</p>
        <h2>384.261$ <span class="decrease">-10.4%</span></h2>
        <p>Compared To Last Month</p>
      </div>
    </div>
    <div class="card">
      <div class="icons-container">
        <i class="fa-solid fa-chart-line"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
      <div class="content-container">
        <p>Total Income</p>
        <h2>384.261$ <span class="increase">+12.5%</span></h2>
        <p>Compared To Last Month</p>
      </div>
    </div>
  </div>
  <div class="chart-table-container">
    <app-main-chart></app-main-chart>
    <app-main-table></app-main-table>
  </div>
</section>
